table tr{
    transition: 0.3s;
}

table tr:hover{
    background-color: rgb(190, 225, 255);
    cursor: pointer;
}

.zap{
    width: 80px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 100%;
}